<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>JDBCDemoServlet</servlet-name>
        <servlet-class>com.xuxiangzhou.week4.JDBCDemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>JDBCDemoServlet</servlet-name>
    <url-pattern>/jdbc</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>name</param-name>
        <param-value>xuxiangzhou</param-value>
    </context-param>
    <context-param>
    <param-name>StudentId</param-name>
    <param-value>2021211001001021</param-value>
    </context-param>
<!--    using SQL servlet database-->
<!--    String driver="com.mysql.cj.jdbc.Driver";
        String url="jdbc:mysql://127.0.0.1:3306/stu";
        String username="root";
        String password="1234";
-->
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://127.0.0.1:3306/user_db</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>1234</param-value>
    </context-param>


</web-app>